@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Megrim&display=swap');

html {
	font-size: 10px;
}

html,
body {
	padding: 0;
	margin: 0;
}

a {
	color: inherit;
	text-decoration: none;
	cursor: pointer;
}

*,
::before,
::after {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;

	transition: color .5s ease-in-out, background .5s ease-in-out;
}

body {
	font-family: "Open Sans", sans-serif;
	font-size: 1.8rem;
    font-weight: 400;
    line-height: 1;
	color: var(--text-primary);
	background: var(--bg-primary);
}

main {
	height: calc(100vh - 70px - 105px);
}